OPENAI_API_KEY = "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"
OPENAI_MODEL = "gpt-4o-mini"
